$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
/* Import custom variables */
@import 'scss/vars';
/* Import Sass Bootstrap */
@import 'sass-bootstrap/lib/bootstrap';
/* Import base styles */
@import 'scss/base';
/* Import layouts */
@import 'scss/l-home';
/* Import custom modules */
@import 'scss/modules';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}